<div ng-include="'components/navbar/navbar.html'"></div>
<div class='center'>
  <button ng-show="tag"
    data-title="Current tag for photos" placement="right" bs-tooltip
    class="btn btn-success hashtag">
    #{{tag}}
  </button>
  <button ng-show="geoTag"
    data-title="Currently using a geotag for photos" placement="right" bs-tooltip
    class="btn btn-success hashtag locArrow fa fa-location-arrow" ng-show='tag'>
     by location
  </button>
  <button 
    data-title="Click to select a geo location for photos" placement="right" bs-tooltip
    class ='btn btn-primary tagForm locArrow fa fa-location-arrow'
    ng-click="updateGeoTag()">
  </button> 
  <div 
    class="form-wrapper cf hashtag">
    <input type="text" placeholder="Enter new tag..." ng-model="newTag" ng-keydown="keypress($event)">
    <button class='btn btn-primary' ng-click="updateTag()">#</button>
  </div>
  <button 
  data-title="Change the number of photos" bs-tooltip
  type="button" class="btn btn-success hashtag" data-animation="am-flip-x" bs-dropdown="dropdown">{{showPhotoNumber}}
  </button>
</div>

<div class='clearIt center'>
  <a href="{{link}}" title="{{photoData[imageOne].text}}" target="_blank">
      <img class='pics' src="{{photoData[imageOne].images.standard_resolution.url}}" alt="{{photoData[imageOne].caption.text}}" />
  </a>
  <a ng-show="showPhotoNumber > 1" href="{{link}}" title="{{photoData[imageTwo].caption.text}}" target="_blank">
      <img class='pics' src="{{photoData[imageTwo].images.standard_resolution.url}}" alt="{{photoData[imageTwo].caption.text}}" />
  </a>
  <a ng-show="showPhotoNumber > 2" href="{{link}}" title="{{photoData[imageThree].caption.text}}" target="_blank">
      <img class='pics' src="{{photoData[imageThree].images.standard_resolution.url}}" alt="{{photoData[imageThree].caption.text}}" />
  </a>
  <a ng-show="showPhotoNumber > 3" href="{{link}}" title="{{photoData[imageFour].caption.text}}" target="_blank">
      <img class='pics' src="{{photoData[imageFour].images.standard_resolution.url}}" alt="{{photoData[imageFour].caption.text}}" />
  </a>
</div>

<footer class="footer clearIt">
  <div class="container">
      <p>LiveEventsThroughPhotos v1.0.0 |
        <a href="http://martinbutler.com/">Martin's Website</a> |
         <a href="https://www.linkedin.com/in/martinebutler">LinkedIn</a></p>
  </div>
</footer>
